#booksDisplay {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    justify-items: center;
    align-items: center;
}

.bookCard {
    background-color: yellow;
}